.nav__style {
	background-color: #151515;
	width: 100%;
	height: auto;
	/* -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); */
	/* clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); */
	padding: 16px 0;
}

#nav_link {
	letter-spacing: 0.8px;
	cursor: pointer;
}

.nav__active::after {
	content: "";
	background-color: #ffffff;
	display: block;
	width: 5px;
	height: 2px;
	position: relative;
	left: 50%;
}

.nav__active {
	color: #fb0405 !important;
}

.premium__icon {
	font-size: 20px;
	color: gold;
	margin-bottom: 5px;
}

.navigation_user_image {
	border-radius: 50%;
	padding: 2px;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.navigation_dropdown > a {
	padding-top: 4px;
}

.navigation_dropdown > a::after {
	display: none;
}

.navigation_dropdown > div {
	right: 0 !important;
	left: auto !important;
	min-width: 300px;
	padding: 0;
}

.user_top_info {
	display: flex;
	align-items: center;
}

.user_info span {
	display: block;
	font-size: 14px;
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	word-wrap: break-word;
}

.user_info span:nth-child(1) {
	font-size: 15px;
}

.user_profile_pic {
	padding: 10px 15px;
}

.user_profile_pic img {
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 2px;
}

.user_subscription_info {
	display: flex;
	align-items: center;
	font-size: 16px;
	letter-spacing: 0.8px;
	font-family: "HelveticaNeue-Thin-t", "HelveticaNeue-Thin-w";
	border-top: 1px solid #15151528;
	margin-top: 10px;
}

.user_subscription_date span {
	font-size: 14px;
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
}

.user_subscription_date span:nth-child(1) {
	font-size: 13px;
}

.user_subscription_date span:nth-child(2) {
	display: block;
}

.user_subscription_signout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
}

.dropdown_item_signout {
	display: flex;
	align-items: center;
	border-top: 1px solid #15151528;
	margin-top: 10px;
	cursor: pointer;
	font-size: 14px;
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	color: #fb0405;
}

@media screen and (max-width: 992px) {
	.nav__style {
		display: none;
	}
}
