.league_details__text {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 15px 30px;
	background-color: #f0f0f0;
	-webkit-clip-path: polygon(0% 11%, 100% 0%, 100% 93%, 0% 100%);
	clip-path: polygon(0% 11%, 100% 0%, 100% 93%, 0% 100%);
	margin-top: -8.1px;
	padding-top: 23px;
}

.league__title {
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	margin-left: 10px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.league__logo {
	border-radius: 50%;
	border: 1px solid #151515;
}

.torphie__seasons {
	padding: 15px 30px;
}

.trophie_title {
	text-transform: uppercase;
}

.tophie_list {
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	color: #151515;
	opacity: 50%;
}

.match__not_found {
	text-align: center;
}

.match__not_found p {
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	text-transform: uppercase;
}
