.shine {
	background: #d0d3d5;
	background-image: linear-gradient(
		to right,
		#dadee1 0%,
		#d0d3d5 20%,
		#d0d3d5 40%,
		#d0d3d5 100%
	);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	display: inline-block;
	position: relative;

	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
}

@keyframes placeholderShimmer {
	0% {
		background-position: -100%;
	}

	100% {
		background-position: 100%;
	}
}

.heading {
	width: 70px;
	height: 20px;
	border-radius: 2px;
	display: block;
	margin-bottom: 5px;
}

.paragraph {
	width: 60px;
	height: 15px;
	border-radius: 2px;
	display: block;
}

.container {
	display: block;
	width: fit-content;
}

.image {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin-right: 10px;
}

.team {
	width: 140px;
	height: 20px;
	border-radius: 2px;
}

@media screen and (max-width: 992px) {
	.parent_container {
		width: 85% !important;
	}
}
