.match__timestamp {
	font-size: 14px;
	text-align: center;
	padding: 8px;
	background: #ffffff;
	color: #151515;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin: 0px 40px;
	line-height: 13px;
	font-family: "HelveticaNeue-Bold-t", "HelveticaNeue-Bold-w";
}

.match__date {
	margin-top: 3px;
	display: block;
	text-transform: capitalize;
	text-align: center;
}

.match__time {
	display: block;
	text-align: center;
}

.match__score {
	display: flex;
	flex-wrap: nowrap;
	font-size: 16px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: max-content;
}

.content_center {
	width: 60px;
	height: 60px;
	position: relative;
	background-color: #f5f5f5;
	color: #151515;
	border-radius: 50px;
	font-size: 13px;
	padding: 7px;
	font-family: "HelveticaNeue-Bold-t", "HelveticaNeue-Bold-w";
}

.live__indicator {
	animation: live 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
	font-size: 18px;
	vertical-align: baseline;
	color: red;
}

@keyframes live {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.league_details__heading {
	padding: 20px 25px;
	background-color: #151515;
	color: #ffffff;
	text-transform: uppercase;
}

.league_details__content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 15px;
	position: relative;
}

.team_names__container {
	width: 70%;
	display: flex;
	align-items: center;
}

.soccer_field__icon {
	position: absolute;
	right: 0px;
	top: 16px;
}

.responsive_soccer_field__icon {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50px;
	width: 50px;
}

.highlight_video__icon {
	position: absolute;
	right: 60px;
	top: 16px;
}

.responsive_highlight_video__icon {
	position: absolute;
	right: 50px;
	top: 10px;
	height: 30px;
	width: 30px;
	display: none;
}

.league_details_tab__heading {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px 10px;
	background-color: #151515;
	color: #ffffff;
	text-transform: uppercase;
	overflow: scroll;
}

.league__logo {
	border-radius: 50%;
	border: 1px solid #ffffff;
}

.league__title {
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	margin-left: 15px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	display: block;
}

.league__country {
	display: block;
	font-size: 12px;
	margin-left: 15px;
}

.league_details_tab__link {
	color: #ffffff;
	font-family: "HelveticaNeue-Medium-t", "HelveticaNeue-Medium-w";
	text-transform: uppercase;
	width: max-content;
	padding: 10px 6px;
}

.league_details_tab__link:focus,
.league_details_tab__link:hover {
	color: #fb0405 !important;
}

.select_style {
	color: #fff;
	background-color: #fff0;
	background-image: url(/static/images/down_arrow.png);
	border: none;
}

.select_style:focus {
	border-color: #3c38ae00;
	border: none;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(119, 51, 51, 0);
}

.soccer_field__wrapper,
.highlight_video__icon {
	cursor: pointer;
}

.highligh_video__content {
	display: none;
}

.videoPlayerContainer {
	display: none;
	/* margin-top: 26px; */
}

.content_field {
	position: relative;
	/* margin-bottom: -30px; */
	/* margin-top: 30px; */
}

.textwrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 52%;
	background-color: #151515;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0px 19px 38px 0px #151515;
}

.textcontent {
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.team_box_container {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
}

.team_content {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
}

.team_content p {
	line-height: 20px;
}

.team_content p span:nth-child(2) {
	font-size: 12px;
}

.backArrowBtn {
	display: none;
}

@media screen and (max-width: 992px) {
	.league__title {
		font-size: 14px;
	}

	.league__title {
		margin-left: 6px;
	}

	.content_field img {
		height: 200px !important;
	}

	.league_details__content {
		position: static;
	}

	.league_details__heading {
		margin-top: 0px;
	}

	.soccer_field__icon {
		display: none;
	}

	.highlight_video__icon {
		display: none;
	}

	.videoPlayerContainer > div {
		height: 201px !important;
	}

	.responsive_soccer_field__icon {
		display: block;
	}

	.responsive_highlight_video__icon {
		display: block;
	}

	.textcontent {
		width: 100%;
	}

	.textcontent h6 {
		font-size: 12px;
	}

	.team_content {
		padding: 6px 6px;
	}

	.team_content p {
		line-height: 15px;
		font-size: 10px;
	}

	.team_content p span:nth-child(2) {
		font-size: 9px;
	}
}

@media screen and (min-width: 992px) {
	.responsive_soccer_field__icon {
		display: none;
	}
	.responsive_highlight_video__icon {
		display: none;
	}
}

@media screen and (max-width: 578px) {
	.league__title {
		font-size: 11px;
	}
	.league__logo {
		width: 30px;
		height: 30px;
	}
	.team_names__container {
		width: 100%;
		margin-top: 15px;
	}
	.league_details__heading {
		padding: 0;
	}
	.league_details_tab__heading {
		font-size: 13px;
	}
}
